// Reset
* { box-sizing: border-box; }

html,
body {
	height: 100%;
	min-height: 100vh;
	width: 100%;
}

body {
	background-color: #f3f3f3;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	transition: background-color .5s ease;
	word-break: keep-all;
}

// Helpers
.text-right { text-align: right; }
.no-margin { margin: 0; }

.flex {
	@media (min-width: 580px) {
		display: flex;
		flex-wrap: wrap;
	}
}
.arrownd { justify-content: space-around;}
.between { justify-content: space-between;}

// Cores
$brastemp-color             : #f35216;
$brastemp-color-title       : #ffffff;
$consul-color               : #9aca3c;
$consul-color-title         : #ffffff;
$compra-certa-color         : #592b6d;
$compra-certa-color-title   : #ffffff;
$direto-na-loja-color       : #3b3b3a;
$direto-na-loja-color-title : #ffcb0b;

// Temas
$lojas: (
	brastemp: (
		cor-loja   : $brastemp-color,
		cor-titulo : $brastemp-color-title
	),
	consul: (
		cor-loja   : $consul-color,
		cor-titulo : $consul-color-title
	),
	compra-certa: (
		cor-loja   : $compra-certa-color,
		cor-titulo : $compra-certa-color-title
	),
	direto-na-loja: (
		cor-loja   : $direto-na-loja-color,
		cor-titulo : $direto-na-loja-color-title
	)
);

@each $loja, $cor in $lojas {
	$cor-loja: map-get($cor, cor-loja);
	$cor-titulo: map-get($cor, cor-titulo);

	body[class*='#{$loja}'] {
		background-color: $cor-loja;
		.page-title { color: $cor-titulo; }

		button,
		input[type='submit'],
		input[type='reset'] {
			background-color: $cor-loja;
			border: 2px solid $cor-loja;
			color: $cor-titulo;

			&:hover {
				background-color: $cor-titulo;
				border: 2px solid $cor-loja;
				color: $cor-loja;
			}
		}
	}
}

// Consul
body[class*='consul'] {
	input,
	select,
	button {
		border-radius: 20px;
	}
}

// Page
.page-title {
	display: inline-block;
	font-weight: normal;
	margin: 1em 0;
	text-transform: uppercase;

	.text-loja {
		display: inline-block;
		text-transform: none;

		&:before {
			content: '-';
			display: inline-block;
			padding: 0 10px;
		}

		&:empty {
			display: none;
			visibility: hidden;
		}
	}
}

.container-wrap {
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

.container {
	display: block;
	max-width: 900px;
	padding-bottom: 40px;
	width: 90%;
	word-break: break-all;
}

// URL's
.urls-header {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.url-container {
	background-color: #ededed;
	margin-top: 5px;
	position: relative;
}

.url-title {
	margin: 0;
	padding: calc(1em - 2px);
	font-weight: normal;
}

.url-list {
	border: 2px solid #fff;
	font-size: 13px;
	margin: 0;
	padding: 6em 1.5em 1.5em 1.5em;
	word-break: break-all;
	list-style: none;

	&:empty {
		&,
		& + .urls-header { display: none; }
	}
}

.url-list__item {
	border-top: 1px solid #ccc;
	padding: 12px 0;
	position: relative;
	padding-right: 90px;
	z-index: 2;

	.copy {
		font-size: 10px;
		padding: .7em 1.5em;
		right: 0;
	}

	.url + .copied {
		left: 25px;
		top: 10px;
	}
}

// Copy buttons
.copy {
	position: absolute;
	top: 50%;
	right: 1.5em;
	transform: translateY(-50%);

	.copy-text {
		&:before {
			content: '';
			display: block;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			z-index: -1;
		}
	}
}

.copied {
	background-color: #000;
	color: #fff;
	display: inline-block;
	font-family: Verdana;
	font-size: 9px;
	left: 50%;
	opacity: 0;
	padding: 2px 5px;
	position: absolute;
	text-align: center;
	text-transform: none;
	top: 0;
	transform: translate(-50%, 0);
	transition:
		transform .2s ease,
		opacity .2s ease
	;
	white-space: nowrap;
	z-index: -5;

	&:before {
		border: 5px solid transparent;
		border-color: #000 transparent transparent transparent;
		content: '';
		display: block;
		height: 0;
		left: 50%;
		position: absolute;
		top: 90%;
		transform: translateX(-50%);
		width: 0;
	}

	// Active state
	.is--active &,
	.is--active + & {
		opacity: 1;
		transform: translate(-50%, -22px);
	}
}

.url-form {
	background-color: #fff;
	border: 1px solid #ccc;
	display: block;
	max-width: 900px;
	overflow: hidden;
	padding: 2em;
	width: 100%;
	word-break: break-all;
}

.input-container {
	border: 0;
	display: block;
	font-size: 0;
	margin: 10px 0 0 0;
	padding: 0;
	width: 100%;

	.flex & {
		@media (min-width: 765px) { max-width: calc((100% / 4) - 15px); }
		@media (max-width: 765px) { max-width: calc((100% / 2) - 15px); }
		@media (max-width: 580px) { max-width: 100%; }
	}
}

.label {
	@media (max-width: 765px) { width: 100%; }
	display: inline-block;
	font-size: 11px;
	padding-bottom: 5px;
	text-transform: uppercase;
	text-shadow: 0 0 0 #000;
	width: 20%;

	span {
		display: block;
		color: #777;
		text-transform: none;
	}

	.flex & { width: 100%; }

	br {
		@media (max-width: 765px) { display: none; }
	}

	.mobile-inline {
		display: inline-block;
		&:first-child { margin-right: 1em; }
	}
}

.legend {
	@media (max-width: 580px) { width: 100%; }
	color: #777;
	display: block;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 10px;
	font-style: italic;
	line-height: 110%;
	padding: 2px 2px 0 0;
	text-align: right;

	.flex & { text-align: left; }
}

select,
textarea,
input[type='text'] {
	@media (max-width: 580px) { width: 100%; }
	border: 1px solid #ccc;
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 13px;
	padding: 10px;
	vertical-align: top;
	width: 80%;

	&:focus { outline: none; }

	.flex & { width: 100%; }

	&.error { border-color: #d00; }
}

select {
	@media (max-width: 765px) { width: 100%; }
	width: 30%;
}

textarea {
	@media (max-width: 765px) { width: 100%; }
	min-height: 120px;
	resize: vertical;
}

button,
select,
input {
	transition:
		background-color .3s ease,
		border-radius .3s ease
	;
}

// Action buttons
.action-buttons { padding-top: 20px; }

input[type='submit'] { margin-left: 1em; }

button,
input[type='submit'],
input[type='reset'] {
	@media (max-width: 450px) {
		margin: 0 0 1em 0;
		width: 100%;
	}
	border: 2px solid #d1d1d1;
	background-color: #d1d1d1;
	display: inline-block;
	font-size: 11px;
	outline: none;
	padding: 1em 22px;
	text-transform: uppercase;

	&:hover { background-color: #fff; }

	&:focus { outline: none; }
}

.campos-cc {
	max-height: 0;
	opacity: 0;
	position: relative;
	transition:
		max-height .4s ease,
		opacity .6s ease
	;
	z-index: -10;

	// Esconde campos de Compra Certa
	[class*='compra'] & {
		& {
			@media (min-width: 580px) { max-height: 100px; }
			@media (max-width: 580px) { max-height: 300px; }
			opacity: 1;
			z-index: 1;
		}
	}
}
