// Temas
$lojas: (
	brastemp: (
		cor-loja   : #f35216,
		cor-titulo : #ffffff,
	),
	consul: (
		cor-loja   : #9aca3c,
        cor-titulo : #ffffff,
        border-radius: 20px
	),
	compra-certa: (
		cor-loja   : #592b6d,
		cor-titulo : #ffffff
	),
	direto-na-loja: (
		cor-loja   : #3b3b3a,
		cor-titulo : #ffcb0b
	)
);